<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bobby's Favourite Simpson's Epsiodes</title>
    <link href="/resources/compiled/css/main.css" rel="stylesheet">
    <head>
<body>
    <div class="jumbotron header">
      <div class="container-fluid text-center">
        <h1>Bobby's favourite episodes of <i>The Simpsons</i></h1>
        <p><img class="img-circle" src="resources/img/bobby.jpg"></p>
      </div>
    </div>

   

    <div class="container">
        {% for episode in episodes %}
            {% if loop.index%2 == 1 %}<div class="row">{%endif %}

                {{ include('episode.html') }}
        
            {% if loop.index%2 == 0 %}</div>{%endif %}
        {% endfor %}
    </div>

     <div class="container">
        <div class="row">
            <form action="index.php" class="form-inline">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                <select name="season" id="season" class="form-control">
                    <option value="0">All Seasons</option>
                    {% for season in season_list %}
                        <option value="{{season}}">Season {{season}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Submit" class="btn btn-primary">

                </div>
                <div class="col-sm-4"></div>
            </form>
        </div>
    </div>

    <footer class="footer">
      <div class="container-fluid">
          <div class="row">
              <div class="text-center">
                <p class="text-muted"><3</p>
            </div>
        </div>
      </div>
    </footer>

  <script type="text/javascript" src="/resources/compiled/js/main.js"></script>
</body>
</html>
